<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cities</title>
       <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <form>
            <legend><%= city.name %> City</legend>
            <p><%= city.description %></p>   
        </form>
    </body>
</html>